/* Bootstrap BUTTONS 
	https://getbootstrap.com/docs/4.0/components/buttons/

	Anpassung: WACG Farben (Barrierefreiheit) 
   Adjustment: WACG colors (accessibility)
   https://webaim.org/resources/contrastchecker/ */

:root {
	--aria-button-red: #dc3545; 
	--aria-button-green: #126412;
	--aria-button-blue: #0050A0;
	--aria-button-yellow: #ffc107;

	/* https://www.w3schools.com/colors/colors_picker.asp */
	--aria-button-red-dark: #981b27;
	--aria-button-green-dark: #0c410c;
}


/*  [PRO] Knopf: dunkleres grün / [PRO] button: darker green  */   
.btn-success {
	background: var(--aria-button-green); 
	color: contrast-color(var(--aria-button-green))

}


/*  [PRO EXTRA] Knopf: dark green */
.mow-btn-success-dark {
	background: var(--aria-button-green-dark); 
	color: contrast-color(var(--aria-button-green-dark));

}

/* [o] Knopf: schwarze Schrift auf gelbem Hintergrund / [o] button: black font on yellow background */
.btn-warning {
	background: var(--aria-button-yellow);
	color: contrast-color(var(--aria-button-yellow))
}

/* [CONTRA] Knopf: keine Änderung / [CONTRA] button: no change */
.btn-danger {
	background: var(--aria-button-red);
/*	color: contrast-color(var(--aria-button-red))
*/
}


/* [EXTRA CONTRA] Knopf: dark red */
.mow-btn-danger-dark {
	background: var(--aria-button-red-dark);
	color: contrast-color(var(--aria-button-red-dark));
}

/* diverse Knöpfe: dunkles Blau für helle Standardschrift / several buttons: dark blue for light default-fonts  */
.btn-primary {
	background: var(--aria-button-blue);
	color: contrast-color(var(--aria-button-blue))
	}

