/* Bootstrap BUTTONS 
	https://getbootstrap.com/docs/4.0/components/buttons/

	Anpassung: nur Rahmen, keine Farbe
	Adjustment: frame only, no colors */


/* Transparenz auf alle Knöpfe 
	Transparency on all buttons */   
.btn-success, .btn-warning, .btn-secondary, .btn-danger {
  color: #000;
  background: rgba(0, 0, 0, 0.0);
  border-color: #000;
}

/* dunkles Blau für helle Schrift / dark blue for light font 
	für diverse Knöpfe / several buttons  */
.btn-primary {
	background:#0050A0;
	}
