/* Bootstrap BUTTONS 
	https://getbootstrap.com/docs/4.0/components/buttons/

	Anpassung: WACG Farben (Barrierefreiheit) 
   Adjustment: WACG colors (accessibility)
   https://webaim.org/resources/contrastchecker/ */


/*  [PRO] Knopf: dunkleres grün / [PRO] button: darker green  */   
.btn-success {
	background: var(--success); 
}

/* [NEUTRAL] Knopf: schwarze Schrift auf gelbem Hintergrund / [NEUTRAL] button: black font on yellow background */
.btn-warning {
	background: var(--warning);
	color:#000;
}

/* [CONTRA] Knopf: keine Änderung / [CONTRA] button: no change */
.btn-danger {
	background: var(--danger); 
}

/* diverse Knöpfe: dunkles Blau für helle Standardschrift / several buttons: dark blue for light default-fonts  */
.btn-primary {
	background: var(--primary);
	}

/* [+] [-] Knöpfe zum Aufklappen: schwarze Schrift für hellen Hintergrund   
	[+] [-] buttons to collapse tables: dark font for light background */
.btn-outline-secondary {
	color:#000; 
}

/* Außenabstand / margin */
.btn {
	margin-bottom: 0.5em;
	margin-right: 0.1em; 
}
