
/* BODY: Hintergrundfarbe, Schriftart, -groesse und -farbe */
/* BODY: background color, font, size and color */
body {
	font-family: Liberation Sans, DejaVu Sans, Calibri, Helvetica, Verdana, Arial, sans-serif; 
	font-size:1.4em; 
	color:#000000; 

	background-color: #EFC04F;
	/* background-image: linear-gradient(#EFC04F, #FFE08F); */ 
	/* background-attachment: fixed; */
	}

/* LINK-Farbe - AUSSER bei der Bootstrap-Klasse "btn" für Buttons. Dort wird der Bootstrap-Standard benutzt. */
/* LINK-color - EXCEPT for Bootstrap button-class "btn". Use defaults there. */
a:not(.btn) { color:#000000; text-decoration:underline;}
a:not(.btn):link { color:#000000; } 
a:not(.btn):visited { color:#404040; }
a:not(.btn):active { color:#FF0000; }
a:not(.btn):hover { color:#FF0000; text-decoration:none; }

.hideWelcomeShowQuestions {}

.hideQuestionsAndShowResults {}

.hideShareButtons {}

.mow-wrapper000
{
 width:50%;
 height:20%;
 
 margin:auto;
 position:absolute;
 /* left:40%; */
 /* top:50%; */
 
 /*
 margin-left:auto;
 margin-top:auto;
 */
}

.mow-wrapper111 {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
}

.mow-centered {
  position: fixed;
  inset: 0px;
  width: 20rem;
  height: 3rem;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
}

.opacity025 {
	background: rgba(255, 255, 255, 0.25);
}

#footer_button_scrollToTop {
	position: fixed;
	bottom: 1em;
	right: 1em;
	display: none;
}

/* Willkommensnachricht (erster DIV)
   Welcome Message (first DIV) */
#description > div:first-of-type {
    padding: 5% 2%;
    text-overflow: clip;
    overflow: auto;
    margin-top: 1.0em;
    max-height: 60vh;
}

/* BOOTSTRAP */
.row {
/*
	padding: 0.2em;  
*/
}

.col {
	padding: 0.5em;  
}


