
/* BODY: Hintergrundfarbe, Schriftart, -groesse und -farbe */
/* BODY: background color, font, size and color */
body {
	font-family: Liberation Sans, DejaVu Sans, Calibri, Helvetica, Verdana, Arial, sans-serif; 
	font-size:1.4em; 
	color:#000000; 

	background-color: #EFC04F;
	/* background-image: linear-gradient(#EFC04F, #FFE08F); */ 
	/* background-attachment: fixed; */
	}

/* LINK-Farbe - AUSSER bei der Bootstrap-Klasse "btn" für Buttons. Dort wird der Bootstrap-Standard benutzt. */
/* LINK-color - EXCEPT for Bootstrap button-class "btn". Use defaults there. */
a:not(.btn) { color:#000000; text-decoration:underline;}
a:not(.btn):link { color:#000000; } 
a:not(.btn):visited { color:#404040; }
a:not(.btn):active { color:#FF0000; }
a:not(.btn):hover { color:#FF0000; text-decoration:none; }


/* hide */
.fading.fadingStop {
	font-size: 0;
	margin: 0;
	opacity: 0;
	padding: 0;
	height: 0;
	border: 0;
	overflow:hidden;
	/* fade out, then shrink */
	transition: opacity 0.5s ease,
		font-size 0.5s ease,
		margin 0.5s ease,
		padding 0.5s ease,
		height 0.5s ease,
		border 0.5s ease;
}

/* reveal */
.fading {
    /* unshrink, then fade in */
    transition: font-size 0.5s ease,
                margin 0.5s ease,
                padding 0.5s ease,
                opacity 0.5s ease,
                height 0.5s ease,
		border 0.5s ease;
}

.opacity025 {
	background: rgba(255, 255, 255, 0.25);
}

/* Statistik */
/* Statistics */
#keepStats { 
	margin-top:10px; 
	font-size:90%; 
	}

/* Willkommensnachricht (erster DIV)
   Welcome Message (first DIV) */
#description > div:first-of-type {
    padding: 5% 2%;
    text-overflow: clip;
    overflow: auto;
    margin-top: 1.0em;
    max-height: 60vh;
}

/* BOOTSTRAP */
.row {
	padding: 0.2em;  
}

.col {
/*	padding: 0.5em;  */
}


