name: Build and Push Docker Image to docker registry

on:
  workflow_dispatch:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    
    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.docker_username }}
        password: ${{ secrets.docker_password }}

    - name: Get latest release tag
      id: get_latest_release
      uses: pozetroninc/github-action-get-latest-release@master
      with:
        owner: msteudtn
        repo: mat-o-wahl

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        file: dockerfile
        push: true
        platforms: linux/amd64,linux/arm64
        tags: ${{ secrets.docker_username }}/mat-o-wahl:latest,${{ secrets.docker_username }}/mat-o-wahl:${{ steps.get_latest_release.outputs.release }}
